html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
    height: 100%;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 240px;
}

span.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
span.close:hover,
span.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

input {
    margin: 0 10px;
}

.mid {
    display: flex;
    justify-content: center;
    margin: 10px 20px 20px 20px;
}

span.title {
    margin: 0 10px;
}

.right-bar {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

#submit {
    width: 50px;
    display: block;
}

#submit:hover {
    cursor: pointer;
}

progress {
    display: block;
    margin: 5px auto;
    padding: 2px;
    border: 0 none;
    background: red;
    border-radius: 12px;
}

div.right > img {
    transform: rotateY(180deg);
}

.attack-left {
    transform: scale(1.2);
    animation: left-move 1s infinite;
}

.attack-right {
    transform: scale(1.2);
    animation: right-move 1s infinite;
}

.dodge-left {
    animation: right-dodge 1s infinite;
}

.dodge-right {
    animation: left-dodge 1s infinite;
}

@keyframes right-move {
    0% {
      left: 20%;
    }
    100% {
      left: 60%;
    }
}

@keyframes left-move {
    0% {
      right: 20%;
    }
    100% {
      right: 60%;
    }
}

@keyframes right-dodge {
    0% {
      left: 20%;
    }
    100% {
      left: 0%;
    }
}

@keyframes left-dodge {
    0% {
      right: 20%;
    }
    100% {
      right: 0%;
    }
}

.defence {
    background-color:#fd4141;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
      -o-filter: blur(1px);
     -ms-filter: blur(1px);
         filter: blur(1px);
}

#fight {
    display: none;
    width: 80%;
    justify-content: space-between;
}

.move {
    display: inline-block;
    padding: 20px;
    position: relative;
    margin: 0 0 10px 0;
}

#title {
    position: absolute;
    height: 50px;
    width: 100px;
    top: 50px;
    font-size: 20px;
}